<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
  <script type="text/javascript">
      ShopifyApp.init({
          apiKey: "<%= @api_key %>",
          shopOrigin: "https://<%= @shop %>"
      });
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<h1>Welcome, shopify-er!</h1>
<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"></th>
      <th scope="col">Product</th>
      <th scope="col">Inventory</th>
      <th scope="col">Vendor</th>
    </tr>
    </thead>
    <tbody>
    <% @products.each_with_index do |product, index| %>
      <tr>
        <th class="align-middle" scope="row"><%= index + 1 %></th>
        <td >
          <% if product.photos.present? %>
            <%= image_tag(product.photos.first.thumb_url, size: "50x50") %>
          <%else%>
            <%= image_tag("img_placeholder.png", size: "50x50")%>
          <%end%>
        </td>
        <td class="align-middle">
          <%= product.name%>
        </td>
        <td class="align-middle"><%= product.product_variants.sum(&:inventory) %></td>
        <td class="align-middle"><%= product.vendor.name_en %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
</body>
</html>
